<h1>Text Results</h1>

# raw(ap text_annotation.to_h) %> original command in each loop

<ul>
<% @first_result.text_annotations.each_with_index do |text_annotation, index| %>
    <li>
    <details>
    <summary>
      <code><%= index %></code>
    </summary>
    <div>
      <%= raw(ap text_annotation['description'].to_s) %>
    </div>
  </li>
<% end %>
</ul>  




